html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, rgb(12 74 110), rgb(96 165 250));
  background-repeat: no-repeat;
}

body {
  height: 100vh;
  width: 100vw;
}

* {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.gradient-bg {
  background-color:hsla(247,100%,50%,1);
  background-image:
  radial-gradient(at 0% 0%, hsla(330,0%,100%,1) 0px, transparent 50%),
  radial-gradient(at 100% 100%, rgb(5, 11, 48) 0px, transparent 50%);
}

.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 12px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.blue-glassmorphism {
  background: rgba(9, 42, 151, 0.4);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.text-gradient {
  background-color: #fff;
  background-image: radial-gradient(at 4% 36%, hsla(0,0%,100%,1) 0, transparent 53%), radial-gradient(at 100% 60%, rgb(69, 53, 145) 0, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-2 {
  background-color:hsla(232,9%,97%,1);
  background-image:
  radial-gradient(at 29% 100%, hsla(242,100%,70%,1) 0px, transparent 50%),
  radial-gradient(at 98% 94%, rgb(1, 8, 36) 0px, transparent 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


@tailwind base;
@tailwind components;
@tailwind utilities;